{% extends 'base.html' %}


					{% block main %}
						<h1 class="page-title">About Me</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="/static/blog/img/me.jpg" alt="Developer Image">
								</figure>
								<p>这是一个实验和测试性质的网站，后期会完善更多地功能和进行外观的美化，敬请期待！</p>
								<p>同时也致力于发表技术博客，和生活随笔，见闻阅历。欢迎讨论。请大家理性评论。</p>
								<div class="height-40px"></div>
								<h2 class="title text-center">Social</h2>
								<ul class="social">

									<li class="twitter"><a href="#"><span class="ion-social-github"></span></a></li>
									<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
									<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
								</ul>
							</div>
						</article>
					{% endblock main %}
